<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
    <title>{{ 'enrol.title' | trans }}</title>
    <link rel="stylesheet" href="/bootstrap.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="irma-web-server" value="{{ irma_web_server }}/server/" />
    <meta name="irma-api-server" value="{{ irma_api_server }}/irma_api_server/api/v2/" />

    <script type="text/javascript" src="/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="/bootstrap.min.js"></script>
    <script type="text/javascript" src="{{ irma_web_server }}/client/irma.js"></script>
    <script type="text/javascript" src="issue.js"></script>
    <script type="text/javascript">
        var jwt = "{{ jwt }}";
        var self = "{{ self }}";
        var return_url = "{{ return_url }}";
    </script>
</head>
<body>

<div class="container">

    <div class="content">
        <div class="page-header clearfix">
            <img src="/images/irma.png" class="pull-left" alt="irma" height="74">
            <img src="/images/surfnet.jpg" class="pull-right" alt="SURFnet">
        </div>

        {% include "localeform.html" %}
        <h2>{{ 'enrol.title' | trans }}</h2>

        <p><span class="status-container">{{ 'enrol.status.initialized.1' | trans | raw }}</span></p>

        <button class="btn btn-primary" id="irma">{{ 'enrol.title' | trans }}</button>

        <p>{{ 'enrol.download' | trans | raw }}</p>

    </div><!-- /content -->

    <footer>
        <div class="row-fluid">
            <div class="span8 offset2">
                <hr>
                <ul class="nav nav-pills">
                    <li><a href="#" onclick="window.history.back();return false;">{{ 'enrol.cancel' | trans }}</a></li><!-- TODO -->
                </ul>
            </div>
        </div>
    </footer>

</div><!-- /container -->

</body>
</html>
