<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
    <title>IRMA login</title>
    <meta charset="UTF-8" />
    <meta name="irma-web-server" value="{{ irma_web_server }}/server/" />
    <meta name="irma-api-server" value="{{ irma_api_server }}/irma_api_server/api/v2/" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" href="/images/favicon.ico" />
    <link rel="stylesheet" href="/bootstrap.min.css">

    <script type="text/javascript" src="/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="/bootstrap.min.js"></script>
    <script type="text/javascript" src="{{ irma_web_server }}/client/irma.js"></script>
    <script type="text/javascript" src="verify.js"></script>
    <script type="text/javascript">
        var jwt = "{{ jwt }}";
        var return_url = "{{ return_url }}";
        var self = "{{ self }}";
        var errors = {
            INVALID_CHALLENGE:"{{ 'login.error.invalid_challenge' | trans }}",
            INVALID_RESPONSE:"{{ 'login.error.invalid_response' | trans }}",
            INVALID_USER:"{{ 'login.error.invalid_user' | trans }}",
            ACCOUNT_BLOCKED:"{{ 'login.error.account_blocked' | trans }}"
        };
    </script>
</head>
<body>
<div class="container">
    <div class="content">
        <div class="page-header clearfix">
            <img src="/images/irma.png" class="pull-left" alt="irma" height="74">
            <img src="/images/surfnet.jpg" class="pull-right" alt="SURFnet">
        </div>

        {% include "localeform.html" %}

        <h2>{{ 'login.title' | trans }}</h2>

        <button class="btn btn-primary" id="irma">IRMA 2nd factor</button>
    </div><!-- /content -->

    <footer>
        <div class="row-fluid">
            <div class="span8 offset2">
                <hr>
                <ul class="nav nav-pills">
                    <li><a href="#" onclick="window.history.back();return false;">{{ 'login.cancel' | trans }}</a></li>
                    <!-- TODO Send Response with status Failed -->
                </ul>
            </div>
        </div>
    </footer>
</div><!-- /container -->    

</body>
</html>
